.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 3rem;
  text-align: center;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.authorCard {
  background-color: var(--background);
  border: 1px solid white;
  border-radius: 1rem;
}

.authorName {
  font-size: 1.5rem;
  font-weight: 700;
}

.authorInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.authorContent {
  padding: 1rem;
  text-align: center;

}

.noAvatar {
  width: 80px;
  height: 80px;
  background-color: #e5e7eb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noAvatarText {
  font-size: 2rem;
  font-weight: 700;
  color: #9ca3af;
}

.bio {
  color: var(--muted-foreground);
  margin-top: 10px;
  text-wrap: balance;
}